@media print, (max-width: 1187px) {

  
    .training_list {
        gap: 30px;
    }
    .training_list li {
        font-size: 32px;
    }
    .dream_wrap {
        padding: 40px;
        gap: 30px;
    }
    .dream_list {
        padding: 40px 24px 40px 24px;
        width: calc(100% - 440px);
    }
    .addition_items > * {
        padding: 40px 20px 40px 20px;
    }
    .addition_item ul,
    .addition_item-title {
        margin-left: 0;
    }
    .tuning_item-text br {
        display: none;
    }
    .worker .head_block {
        flex-direction: column;
    }
    .worker .head_block .title {
        width: 100%;
        text-align: center;
    }
    .tabs {
        width: 100%;
        justify-content: space-between;
    }
    .benefits_item-title {
        margin: 0 0px 20px;
        padding-bottom: 25px;
    }
    .benefits_item-title:before {
        width: calc(100% + 44px);
        left: -22px;
    }
    .benefits_item ul li {
        font-size: 24px;
    }
    .benefits_item ul {
        margin: 0 0px 30px;
    }
    .contact .cont {
        flex-direction: column;
    }
    .contact_left {
        width: 100%;
        margin-bottom: 40px;
    }
    .contact_right {
        width: 100%;
    } 
    .contact_right-item-photo {
        width: 100%;
        height: auto;
    }
    .swiper-slide {
        padding: 30px;
    }







}
