@media print, (max-width: 767px) {

    :root {
        --font_size_title: 30px;
        --font_size: 19px;
    }
    .video_items {
        margin-left: -20px;
        margin-bottom: -20px;
    }
    .video_items > * {
        width: calc(100% / 2 - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .header_logo {
        width: 33%;
        padding: 0 10px;
    }
    .header_logo img {
        width: 100%;
    }
    .footer_logo {
        width: 33%;
        padding: 0 10px;
    }
    .footer_logo img {
        width: 100%;
    }
    header {
        padding: 30px 0;
    }
    .header_bottom-title {
        font-size: 38px;
    }
    .header_bottom-text, 
    .header_bottom-list li {
        font-size: 20px;
    }
    .header_bottom-list {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .header_bottom-list li {
        margin-right: 0;
    }
    .header_bottom-list li + li {
        margin-top: 15px;
    }
    .block {
        margin-top: 40px;
    }
    .header_top {
        margin-bottom: 55px;
    }
    .problems {
        margin-top: 60px;
    }
    .problems_items {
        flex-direction: column;
        gap: 20px;
    }
    .problems_item:nth-child(3) {
        padding: 20px;
        border-radius: 20px;
        align-items: flex-start;
    }
    .problems_item-info-text {
        font-size: 20px;
    }
    .problems_item-info-title {
        font-size: 24px;
    }
    .problems_item:nth-child(3) .problems_item-img {
        margin-right: 18px;
        width: 60px;
        height: auto;
        flex-shrink: 0;
    }
    .problems_item:nth-child(3) .problems_item-img img {
        width: 100%;        
    }
    .result_item {
        padding: 20px;
    }
    .result_item-title, 
    .offers_item-title {
        font-size: 24px;
    }
    .result_item-text, 
    .offers_item-text {
        font-size: 20px;
    }
    .difference_item {
        flex: 1 1 100%;
    }
    .course_info ul li, 
    .audio_info ul li, 
    .trainer_info ul li {
        font-size: 20px;
        line-height: 26px;
        align-items: center;
    }
    .audio_img,
    .course_img,
    .trainer_img {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .offers_item + .offers_item {
        margin-top: 15px;
    }
    .offers_item {
        padding: 20px;
        border-radius: 20px;
    }
    .need_items {
        flex-direction: column;
        gap: 20px;
    }
    .need_item-photo {
        margin-bottom: 20px;
    }
    .need_bottom {
        margin-top: 30px;
        align-items: flex-start;
    }
    .callback_logo {
        display: none;
    }
    .callback .block_head {
        width: 100%;
    }
    .callback .block_head .title {
        font-size: 30px;
        text-align: center;
    }
    .callback .block_head .text {
        text-align: center;
        font-size: 19px;
    }
    .callback .block_head {
        align-items: center;
    }
    .callback_form .line {
        flex-direction: column;
    }
    .callback_form .line .field:nth-child(1),
    .callback_form .line .field:nth-child(2) {
        max-width: 100%;
        margin-bottom: 15px;
    }
    .callback_wrap {
        padding: 20px;
        border-radius: 20px;
    }
    .callback_form .line button {
        width: 100%;
    }
    .accordion_item .head {
        padding: 15px 20px;
    }
    .accordion_item .faq_btn span, 
    .accordion_item .faq_btn b {
        font-size: 34px;
    }
    .accordion_item .head .accordion_title {
        font-size: 20px;
    }
    .footer_contact a + a {
        margin-top: 11px;
        margin-left: 0;
    }
    .footer_contact {
        flex-direction: column;
        align-items: center;
    }
    
    




}
