@media (max-width: 479px) {

    :root {
        --font_size_title: 26px;
        --font_size: 16px;
    }
 
    .accordion_item .head .accordion_title {
        font-size: 18px;
    }
    .accordion_item .faq_btn span, 
    .accordion_item .faq_btn b {
        font-size: 24px;
        top: 12px;
        right: 20px;
    }
    .accordion_item.active .faq_btn b {
        margin-top: -2px;
        margin-right: 5px;
    }
    .accordion_item .data {
        margin-top: 10px;
        padding: 15px;
    }
    .video_items {
        margin-left: 0px;
    }
    .video_items > * {
        width: 100%;
        margin-left: 0px;
    }
    .offers_item {
        flex-direction: column;
    }
    .offers_item-info {
        margin-left: 0px;
    }
    .result_item-title, 
    .offers_item-title {
        font-size: 20px;
    }
    .result_item-text, 
    .offers_item-text {
        font-size: 17px;
    }
    .course_info ul li, 
    .audio_info ul li, 
    .trainer_info ul li {
        font-size: 17px;
    }
    .difference_item-title, 
    .need_item-title, 
    .reviews_item-title {
        font-size: 20px;
        line-height: 1.3;
    }
    .difference_item-text, 
    .need_item-text, 
    .reviews_item-text {
        font-size: 17px;
    }
    .difference_item .icon {
        width: 70px;
        height: 70px;
    }
    .result_item {
        flex-direction: column;
        align-items: flex-start;
    }
    .result_item-info {
        margin-left: 0px;
        margin-top: 17px;
    }
    .problems_item-info-title {
        font-size: 20px;
    }
    .problems_item-info-text {
        font-size: 17px;
    }
    .reviews_item-name {
        font-size: 18px;
    }
    .reviews_item-post {
        font-size: 18px;
    }
    .need_bottom-icon {
        display: none;
    }
    .need_bottom-text {
        font-size: 18px;
    }
    .result_wrap, 
    .offers_wrap {
        padding: 10px;
    }
    .difference_item:nth-child(1) .difference_item-title {
        font-size: 20px;
    }
    .problems_item-text {
        font-size: 18px;
    }
    .header_button {
        width: 100%;
    }
    .difference_item:nth-child(1) .difference_item-text {
        font-size: 17px;
    }
    .difference_item-title, 
    .need_item-title, 
    .reviews_item-title {
        margin-top: 10px;
    }
    .difference_item:nth-child(1) {
        padding: 20px;
    } 
    .result_item,
    .difference_item,
    .difference_item:nth-child(1),
    .offers_item {
        gap: 15px;
    }
    .difference_items {
        gap: 20px;
    }





}
